<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="h-auto flex pt-12 pb-24 bg-white px-4 overflow-hidden sm:px-6 lg:px-8">
    <div class="relative max-w-xl mx-auto space-y-4">
      <div class="mx-auto h-6 w-auto flex justify-center">
        <%= render "components/stand" %>
      </div>
      <div class="text-center">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Sign Up
        </h2>
        <p class="mt-4 text-lg leading-6 text-gray-500">
          Please fill out your details below so we can get you started.
        </p>
      </div>
      <div class="mt-2">
        <form action="#" method="POST" class="grid grid-cols-1 gap-y-8 sm:grid-cols-2 sm:gap-x-8">
          <div class="flex justify-between mb-2">
            <div class="w-1/2 mr-2">
              <%= f.label :first_name, "First Name", class: "block text-sm font-medium text-gray-700"%>
              <%= f.text_field :first_name, maxlength: 50, autocomplete: "given-name", autofocus: "true", class:"py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
            <div class="w-1/2 ml-2">
              <%= f.label :last_name, "Last Name", class: "block text-sm font-medium text-gray-700"%>
              <%= f.text_field :last_name, maxlength: 50, autocomplete: "family-name", class:"py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
          </div>
          <div class="flex justify-between mb-2">
            <div class="w-1/2 mr-2">
              <%= f.label :date_of_birth, "Date of Birth", class: "block text-sm font-medium text-gray-700"%>
              <%= f.date_field :date_of_birth, autocomplete: "date-of-birth", class:"py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
            <div class="w-1/2 ml-2">
              <%= f.label :phone_number, "Phone Number", class: "block text-sm font-medium text-gray-700"%>
              <%= f.telephone_field :phone_number, maxlength: 12, autocomplete: "phone-number", class:"py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
          </div>
          <div class="sm:col-span-2">
            <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700"%>
            <div class="mb-2">
              <%= f.email_field :email, maxlength: 100, autocomplete: "email", class:"py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
          </div>
          <div class="sm:col-span-2">
            <% if @minimum_password_length %>
              <% password_label = "Password - (#{@minimum_password_length} characters minimum)"%>
            <% else %>
              <% password_label = "Password"%>
            <% end %>
            <div class="mb-2">
              <%= f.label :password, password_label, class:"block text-sm font-medium text-gray-700" %>
              <%= f.password_field :password, autocomplete: "new-password", class: "py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
            <div class="mb-2">
              <%= f.label :password_confirmation, "Password Confirmation", class:"block text-sm font-medium text-gray-700" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" %>
            </div>
          </div>
          <div class="sm:col-span-2 mt-3">
            <%= f.submit "Let's go!", class: "w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>