<%= form_with model: stall do |form| %>
  <div class="h-auto flex pt-10 pb-24 bg-white px-4 overflow-hidden sm:px-6 lg:px-8">
    <div class="relative max-w-xl mx-auto space-y-4">
      <div class="mx-auto h-6 w-auto flex justify-center">
        <%= render "components/stand" %>
      </div>
      <div class="text-center">
        <h2>
          <% if current_page? new_stall_path %>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Create your </span>
            <span class="text-3xl font-extrabold tracking-tight text-indigo-600 sm:text-4xl">SundayStall </span>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">today!</span>
          <% else %>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Update your </span>
            <span class="text-3xl font-extrabold tracking-tight text-indigo-600 sm:text-4xl">SundayStall</span>
            <span class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">!</span>
          <% end %>
          <p class="mt-4 text-lg leading-6 text-gray-500">
            The information provided below will be shown on your Stall profile.
          </p>
        </div>
        <div class="sm:col-span-6">
          <%= form.label :title, "What should we call your stall?", class: "block text-center text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :title, autofocus: true, maxlength: 50, class:"shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md placeholder-gray-200", placeholder: "Donatello's"%>
          </div>
        </div>
        <div class="sm:col-span-6">
          <%= form.label :subtitle, "What's your specialty?", class: "block text-center text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :subtitle, maxlength: 100, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md placeholder-gray-200", placeholder: "Woodfired Pizza" %>
          </div>
        </div>
        <div class="sm:col-span-6">
          <%= form.label :description, "Tell us more?", class: "block text-sm text-center font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :description, rows: 3, maxlength: 2000, class:"shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md placeholder-gray-200", placeholder: "Mamma's recipes always make for the most delicious meals.\nDelicious woodfired pizzas made with secrets passed down through generations." %>
          </div>
          <p class="mt-2 text-sm text-center text-gray-500">Perhaps the story behind your stall and what it means to you.</p>
        </div>
        <% if current_page? new_stall_path %>
          <div class="sm:col-span-6">
            <%= form.fields_for :keywords do |keywords_form| %>
              <%= keywords_form.label :term, "How should people find you?", class: "block text-sm text-center font-medium text-gray-700" %>
              <div class="mt-1">
                <%= keywords_form.text_area :term, rows: 3, maxlength: 2000, class:"shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md placeholder-gray-200", placeholder: "Authentic, Mozzarella, Margherita, Pepperoni, Pizza, Cheese, Woodfired" %>
              </div>
            <% end %>
            <p class="mt-2 text-sm text-center text-gray-500">Give us a few keywords to people search for your stall.</p>
            <p class="mt-2 text-sm text-center text-gray-500">Note - this can only be set when you create the stall so choose carefully.</p>
          </div>
        <% end %>
        <div class="sm:col-span-6">
          <%= form.label :image, "Upload your best Cover Photo -", class: "block text-sm text-center font-medium text-gray-700" %>
          <div class="mt-1">
            <label class="w-full flex flex-col items-center px-4 py-6 bg-white rounded-md shadow-sm tracking-wide uppercase border-2 border-gray-300 cursor-pointer hover:ring-indigo-500 hover:border-indigo-500 hover:text-indigo-500 hover:font-medium">
              <img id="uploadPreview" class="w-96 h-64 my-5 hidden"/>
              <i class="fal fa-cloud-upload"></i>
              <span class="mt-2 text-base leading-normal">Select a File</span>
              <%= form.file_field :image, class: "hidden", onchange: "PreviewImage()" %>
              <script type="text/javascript">
                function PreviewImage() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("stall_image").files[0]);
                
                oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
                document.getElementById("uploadPreview").style.display = 'block';
                };
                };
              </script>
            </label>
          </div>
          <p class="mt-2 text-sm text-center text-gray-500">A picture is worth a thousand words!</p>
        </div>
        <div class="pt-5">
          <div class="flex justify-center">
            <% if current_page? new_stall_path %>
              <%= link_to "Cancel", root_path, class: "cursor-pointer bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              <%= form.submit "Publish", class: "cursor-pointer ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            <% else %>
              <%= link_to "Cancel", stall_path, class: "cursor-pointer bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              <%= form.submit "Save Changes", class: "cursor-pointer ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
