<% stall = @stall %>
<main class="flex flex-col">
  <section class="h-screen my-8">
    <div class="h-1/2">
      <div class="h-full max-w-screen-2xl mx-auto px-4 sm:px-6">
        <img class="h-full w-full rounded-2xl shadow-xl object-cover" src="<%= asset_path(url_for(stall.image)) %>" alt="Stall Cover Photo">
      </div>
      <div class="h-1/2 px-4 sm:mt-16 sm:px-6">
        <div class="text-center">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block"><%= stall.title %></span>
            <span class="block text-indigo-700"><%= stall.subtitle %></span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
            <%= stall.description %>
          </p>
          <div class="mt-5 mx-auto md:mt-8 flex justify-center">
            <div class="lg:w-1/12 w- md:w-1/8 sm:w-1/4">
              <a href="#products" class="flex items-center justify-center px-8 py-3text-base font-medium text-xl text-indigo-600 hover:text-indigo-700 md:py-2 md:px-8">
                <i class="far fa-arrow-down "></i>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-5 max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
          <p class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide">
            what people are saying
          </p>
          <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
            <% for i in (0...5) do %>
              <div class="flex flex-col">
                <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                  <% 5.times do %>
                    <i class="fas fa-star text-yellow-400"></i>
                  <% end %>
                </div>
                <p class="mt-4 text-center text-sm font-semibold text-gray-500 tracking-wide">
                  "<%= ["Amazing!","Love it!","Huge fan!","Worth it!","Will be back!"][i] %>"
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="mt-20">
  <a id="products" class="relative -top-24"></a>
  <div class="container px-5 my-12 mx-auto">
    <div class="flex flex-wrap w-full mb-5">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our Products</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <div class="lg:w-1/2 w-full leading-relaxed text-right">
        <% if (can? :update, stall) && (can? :destroy, stall)%>
          <%= link_to "Edit Stall", edit_stall_path, class: "cursor-pointer bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          <button type="button" data-open="delete-modal" class="mx-2 inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 text-white bg-red-600 hover:bg-red-700">
            Delete Stall
          </button>
        <% else %>
            <% if @favourited %>
              <%= button_to "", delete_favourite_stall_path, method: :delete, class: "inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  
            <% else %>
          <button type="button" class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <i class="far fa-heart"></i>
          </button>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      <% 8.times do %>
        <%= render "components/product" %>
      <% end %>
    </div>
  </div>
</section>
</main>
<%# Delete Confirmation Modal %>
<div id="delete-modal" class="modal fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
      <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
        <button type="button" data-close class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="sr-only">Close</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="sm:flex sm:items-start">
        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
          <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
            Delete Confirmation
          </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              Are you sure you want to delete your stall?<br>
              There's no going back!
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          <%= link_to "Delete Stall", stall_path, method: :delete %>
        </button>
        <button type="button" data-close class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const openEls = document.querySelectorAll("[data-open]");
  const closeEls = document.querySelectorAll("[data-close]");
  const isVisible = "is-visible";
  
  for (const el of openEls) {
    el.addEventListener("click", function() {
      const modalId = this.dataset.open;
      document.getElementById(modalId).classList.add(isVisible);
    });
  }
  
  for (const el of closeEls) {
    el.addEventListener("click", function() {
      this.parentElement.parentElement.parentElement.parentElement.classList.remove(isVisible);
    });
  }
  
  document.addEventListener("keyup", e => {
    if (e.key == "Escape" && document.querySelector(".modal.is-visible")) {
      document.querySelector(".modal.is-visible").classList.remove(isVisible);
    }
  });
</script>
