<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= image_url('stand.png') %>">
    <title>SundayStall | Local Goods Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body class="">
    <%= render "components/navbar" %>
    <%= devise_error_messages! %>
    <% unless flash.empty? %>
      <div class="fixed inset-0 top-16 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
        <div class="flex flex-col items-end justify-center">
          <% flash.each do |type, data| %>
            <%= render NotificationComponent.new(type: type, data: data) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <%= render "components/footer" %>
  </body>
</html>